input/
notes.txt
submissions/*
!submissions/README.md
notebooks/*
!notebooks/eda.ipynb
!notebooks/eda.py
models/*
!models/README.md
auxiliaries/
.ipynb_checkpoints/
.pylintrc
.vscode/
README.html
cv_vs_lb.csv
src/.idea/
src/.vscode/
src/__init__.py
src/__pycache__/
src/catboost_info/
tests/

